################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.suo
/dev/ConsoleApplication/ConsoleApplication/ConsoleApplication/bin/Debug/netcoreapp1.1
/dev/ConsoleApplication/ConsoleApplication/ConsoleApplication/obj
/dev/Patterns/CSharpPatterns/CSharpPatterns/obj/Debug
/dev/Patterns/CSharpPatterns/CSharpPatterns/bin/Debug
